@import "tailwindcss";

@theme {
  --color-glass-100: rgba(255, 255, 255, 0.7);
  --color-glass-200: rgba(255, 255, 255, 0.8);
  --color-glass-300: rgba(255, 255, 255, 0.9);
}

body {
  @apply bg-slate-50 text-slate-800;
  background: linear-gradient(to bottom right, #f8fafc, #e0f2fe, #dbeafe);
  min-height: 100vh;
}